.about__content {
  padding-top: 6vh;
  padding-bottom: 4vh;
}
.about__title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 4vh;
  letter-spacing: 1px;
}
.about__desc {
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 3vh;
  font-weight: 300;
}
