.gallery__container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.gallery__photo {
  background-color: grey;
  height: 33vw;
  width: 33.33vw;
  cursor: pointer;
  color: #fff;
}

.description_background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.description_background p {
  font-weight: 300;
  font-size: 1.4vw;
  max-width: 85%;
  text-align: center;
}

.description_background .gallery__photo__author {
  font-size: 1.4vw;
  text-transform: uppercase;
  margin-bottom: 1.5vh;
}

.description_background p.title {
  margin-bottom: 4vh;
  font-size: 2.4vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

@for $i from 1 through 8 {
  .gallery__photo:nth-child(#{$i}) {
    background: url("../img/gallery-#{$i}.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transition: 0.5s;
  }
}

.gallery__photo:hover {
  background-size: cover;
}

.gallery__photo:hover .description_background {
  // display: flex;
  opacity: 1;
  visibility: visible;
}

.modal {
    display: none;
    width: 100%;
    height: 100vh!important;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -70px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10000000000;
}
/* Modal Content */
.modal_content {
    position: relative;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 3;
}
.description {
    display: none;
}
.mySlides {
    display: none;
    height: 100%!important;
}
.photo-no-desc {
    max-height: calc(95vh - 90px - 9vh);
    max-width: 80vw;
}
.photo-with-desc {
    max-height: calc(95vh - 90px - 16vh);
    max-width: 80vw;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    transform: translateY(-50%);
    color: #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    // background-color: rgba(153, 153, 153, 0.2)
}
/* Position the "next button" to the right */
.next {
    right: 10%;
}
.prev {
    left: 10%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(153, 153, 153, 0.4);
}
.close.cursor {
  position: absolute;
  top: 2vh;
  right: 2vw;
  cursor: pointer;
  font-size: 3vw;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.modal__photo {
    max-width: 80vw;
}
.caption_container {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .caption {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .description__title {
        margin-bottom: 0.5vh;
        word-spacing: 0.2vw;
    }
    .description__place {
        font-weight: 300;
        text-transform: none;
    }
}
@media only screen and (max-width: 1100px) {
  .prev,
  .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 20px;
      transform: translateY(-50%);
      color: #000;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 3px;
      user-select: none;
      -webkit-user-select: none;
  }
  .next {
      right: 0;
  }
  .prev {
      left: 0;
      padding: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .gallery__container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  .gallery__photo {
    background-color: grey;
    height: 50vw;
    width: 50vw;
    cursor: pointer;
    color: #fff;
  }
  .gallery__photo .description_background {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
  }
  .description_background p {
    display: none;
  }
  .modal_content {
      position: relative;
      padding: 0;
      max-height: 100%;
      max-width: 80%;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .prev,
  .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 10px;
      transform: translateY(-50%);
      color: #000;
      font-weight: bold;
      font-size: 15px;
      transition: 0.6s ease;
      border-radius: 3px;
      user-select: none;
      -webkit-user-select: none;
      // background-color: rgba(153, 153, 153, 0.2)
  }
  .next {
      right: 0;
  }
  .prev {
      left: 0;
  }
  .caption_container {
      padding-top: 2vh;
      height: auto;
      display: block;
      .caption {
        width: 100%;
        display: block;
      }
  }
  .close.cursor {
    top: 2vh;
    right: 2vw;
    font-size: 9vw;
  }
}
@media only screen and (orientation: landscape) and (max-height: 500px){
  .close.cursor {
    top: 5px;
    right: 10px;
    font-size: 5vw;
  }
}
