.header__content {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 0px -3px 10px -1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px -3px 10px -1px rgba(0,0,0,0.6);
  box-shadow: 0px -3px 10px -1px rgba(0,0,0,0.6);
}
.languages {
  a {
    margin: 0;
    padding: 3px 8px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.7px;
    font-weight: 300;
    transition: 0.3s;
  }
  a:first-child {
    border-right: 0.5px solid #000;
  }
  a:hover {
    background-color: #000;
    color: #fff;
  }
}
.languages.big {
  position: absolute;
  top: 5px;
  right: 10px;
}
.languages.mid {
  display: none;
}
.header__content .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__content {
  display: flex;
  list-style: none;
}
.nav__item {
  margin-left: 3vw;
  cursor: pointer;
  .nav__item__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.7px;
    font-weight: 300;
  }
}
.nav__item .nav__item__link.active {
  font-weight: 500;
}
@media only screen and (max-width: 1600px) {
  .nav {
    display: flex;
  }
  .languages.big {
    display: none;
  }
  .languages.mid {
    display: flex;
    margin-left: 3vw;
    a:last-child {
      padding-right: 0;
    }
  }
}
@media only screen and (max-width: 1050px) {
  .nav {
    display: none;
    list-style: none;
  }
}
