.hero__content {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #133131;//#05282c;
//   background: rgba(19,49,49,1);
// background: -moz-linear-gradient(-45deg, rgba(19,49,49,1) 0%, rgba(14,36,36,1) 100%);
// background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(19,49,49,1)), color-stop(100%, rgba(14,36,36,1)));
// background: -webkit-linear-gradient(-45deg, rgba(19,49,49,1) 0%, rgba(14,36,36,1) 100%);
// background: -o-linear-gradient(-45deg, rgba(19,49,49,1) 0%, rgba(14,36,36,1) 100%);
// background: -ms-linear-gradient(-45deg, rgba(19,49,49,1) 0%, rgba(14,36,36,1) 100%);
// background: linear-gradient(135deg, rgba(19,49,49,1) 0%, rgba(14,36,36,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133131', endColorstr='#0e2424', GradientType=1 );

background: #133030;
background: -moz-linear-gradient(-45deg, #133030 0%, #0e2424 57%, #0e2525 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #133030), color-stop(57%, #0e2424), color-stop(100%, #0e2525));
background: -webkit-linear-gradient(-45deg, #133030 0%, #0e2424 57%, #0e2525 100%);
background: -o-linear-gradient(-45deg, #133030 0%, #0e2424 57%, #0e2525 100%);
background: -ms-linear-gradient(-45deg, #133030 0%, #0e2424 57%, #0e2525 100%);
background: linear-gradient(135deg, #133030 0%, #0e2424 57%, #0e2525 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133030', endColorstr='#0e2525', GradientType=1 );
}
.hero__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  .hero__bg__title {
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 15px;
    color: #fff;
    opacity: 0.6;
    font-family: 'Open Sans';
  }
}
.hero__nav {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__nav__item {
  position: relative;
  cursor: pointer;
  border-radius: 10%;
//   -webkit-box-shadow: 0px 0px 59px 16px rgba(14,36,36,1);
// -moz-box-shadow: 0px 0px 59px 16px rgba(14,36,36,1);
// box-shadow: 0px 0px 59px 16px rgba(14,36,36,1);
-webkit-box-shadow: 0px 0px 18px 9px rgba(14,36,36,1);
-moz-box-shadow: 0px 0px 18px 9px rgba(14,36,36,1);
box-shadow: 0px 0px 18px 9px rgba(14,36,36,1);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
transition: 0.5s;
  .hero__nav__item__bg {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
  }
  .hero__nav__item__content {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    p {
      font-size: 30px;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
.hero__nav__item:hover {
  .hero__nav__item__bg {
    visibility: visible;
    opacity: 0.6;
  }
  .hero__nav__item__content {
    visibility: visible;
    opacity: 1;
  }
}
.hero__nav__item.about {
  height: 14.18vw;
  width: 24.88vw;
  margin-top: 2vh;
  margin-left: 35%;
  background-image: url("../../img/about--bg.png");
}
.hero__nav__item.gallery {
  height: 14vw;
  width: 21vw;
  margin-top: calc(4vh);
  margin-left: 18%;
  background-image: url("../../img/gallery--bg.jpg");
}
.hero__nav__item.recordings {
  height: 21.3vw;
  width: 14.23vw;
  margin-top: calc(-14vw + 2vh);
  margin-left: 58%;
  background-image: url("../../img/recordings--bg.jpg");
}
.hero__nav__item.contact {
  height: 13.73vw;
  width: 20.48vw;
  margin-top: calc(-7vw);
  margin-left: 36%;
  margin-bottom: 15px;
  background-image: url("../../img/contact--bg.jpg");
}
