.hero__content {
  padding-top: 50px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: #18453E;
  // background: url("../img/home--bg.jpg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}
.hero__nav {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero__nav__item {
  position: relative;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 1vw 1.8vw 4vw -.7vw rgba(0,0,0,.2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .hero__nav__item__bg {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    border-radius: 5%;
    transition: 0.5s;
  }
  .hero__nav__item__content {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    p {
      font-size: 30px;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      color: #A77574; //#AD827F;
    }
  }
}
.hero__nav__item:first-child {
  box-shadow: 0vw 1.8vw 4vw -.5vw rgba(0,0,0,.2);
}
.hero__nav__item:hover {
  opacity: 1;
  .hero__nav__item__bg {
    opacity: 0.3;
    visibility: visible;
  }
  .hero__nav__item__content {
    opacity: 1;
    visibility: visible;
  }
}
.hero__nav__item.about {
  height: 14.18vw;
  width: 24.88vw;
  margin-top: 2vh;
  margin-left: 35%;
  background-image: url("../img/about--bg.png");
}
.hero__nav__item.gallery {
  height: 17vw;
  width: 25.41vw;
  margin-top: calc(4vh);
  margin-left: 10%;
  background-image: url("../img/gallery--bg.jpg");
}
.hero__nav__item.recordings {
  height: 21.3vw;
  width: 14.23vw;
  margin-top: calc(-20vw + 2vh);
  margin-left: 70%;
  background-image: url("../img/recordings--bg.jpg");
}
.hero__nav__item.contact {
  height: 13.73vw;
  width: 20.48vw;
  margin-top: calc(-11vw);
  margin-left: 40%;
  margin-bottom: 15px;
  background-image: url("../img/contact--bg.jpg");
}
